<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <%-include("./navbar")%>
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container bottomContainer">
          <div class="allText bottomText">
            <p class="text-blk headingText">
              About
            </p>
            <p class="text-blk subHeadingText">
                About ShortLink
            </p>
            <p class="text-blk description">
              

                Welcome to ShortLink, your go-to solution for shortening and managing URLs effortlessly. Our service is designed to help you simplify long links, making them easier to share and track.
                
                With ShortLink, you can quickly transform long, unwieldy URLs into short, memorable links that are perfect for social media, emails, and other digital communications. Our platform offers advanced features such as link tracking, custom aliases, and analytics to help you monitor the performance of your links.
            </p>
            <a>
              <button class="explore">
                View More
              </button>
            </a>
          </div>
          <div class="videoContainer">
            <iframe allowfullscreen="allowfullscreen" class="mainVideo" controls="controls" src="https://youtu.be/g-F5SFZiqAk?feature=shared">
            </iframe>
           
          </div>
        </div>
      </div>
      <script src="about.js"></script>
</body>
</html>